---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="联系我们" lang="zh" path="contact/" active="contact">
  <div class="container section prose">
    <h1>联系我们</h1>
    <h2>一般咨询</h2>
    <p>
      邮箱：<a href="mailto:info@kfbook.org">info@kfbook.org</a><br />
      电话：<a href="tel:+16046356035">+1 (604) 635-6035</a>
    </p>
    <h2>通讯地址</h2>
    <p>
      East-West Publishing Group Inc.<br />
      PO Box 451<br />
      Chino Hills, CA 91709, USA
    </p>
    <h2>投稿</h2>
    <p>
      有意与我们合作出版的作者，请将出版计划、样章与个人简历发送至
      <a href="mailto:info@kfbook.org">info@kfbook.org</a>，我们将在四周内回复。
    </p>
  </div>
</BaseLayout>
